# Terraform files and folders
.terraform/
.terraform.lock.hcl
.terraform.lock.hcl.info
terraform.tfvars
crash.log

#*.tfstate
#*.tfstate.backup

# SSH keys and secrets
*.pem

# Ignore local IDE/editor files
.vscode/
*.swp
*.bak
.DS_Store

#